body {
  background-color: #598bcd;
  margin: 0%;
}
header {
  font-size: 4rem;
  color: wheat;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  /* border: 5px solid red; */
}

.items {
  display: flex;
  flex-direction: column-reverse;
  background-color: white;
  margin: 20px;
  border: 5px solid red;
  border-radius: 10px;
  font-size: 3rem;
  color: #283149;
  width: 200px;
  height: 200px;
  text-align: center;
  transition: all;
  transition-duration: 100ms;
}

.items:hover{
  transform: scale(1.3);
}

.item1 {
  background-image: url(images/crash.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.item2 {
  background-image: url("images/kick.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.item3 {
  background-image: url(/ud2/images/snare.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.item4 {
  background-image: url(/ud2/images/tom1.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.item5 {
  background-image: url(/ud2/images/tom2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.item6 {
  background-image: url(/ud2/images/tom3.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.item7 {
  background-image: url(/ud2/images/tom4.png);
  background-repeat: no-repeat;
  background-size: contain;
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
  text-align: center;
}
